<ion-header>
  <ion-toolbar>
    <ion-title>
      学生信息查询
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="clearSearchForm();">
      清空
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="searchForm" (ngSubmit)="submitBtn.disabled = true; onSearch(submitBtn);">
    <ion-list >
      <ion-item>
        <ion-label>性别</ion-label>
        <ion-select formControlName="gender" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let sex of sexList" value="{{sex}}">{{sex}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>政治面貌</ion-label>
        <ion-select formControlName="politic" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let p of politicList" value="{{p}}">{{p}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>年级</ion-label>
        <ion-select formControlName="grade" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let grade of gradeList" value="{{grade}}">{{grade}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>班级</ion-label>
        <ion-select formControlName="class" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let cls of classList" value="{{cls}}">{{cls}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>宿舍楼宇</ion-label>
        <ion-select formControlName="dorm" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let building of buildingList" value="{{building}}">{{building}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>国家助学金</ion-label>
        <ion-select formControlName="nationHelp" value="any" okText="确定" cancelText="取消">
          <ion-select-option value="any">所有</ion-select-option>
          <ion-select-option *ngFor="let option of nationHelpList" value="{{option}}">{{option}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="other" clearInput type="text" style="text-align: center" placeholder="学号、姓名、姓名拼音首字母或手机号"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button #submitBtn expand="block" style="margin-left: 20px; margin-right: 20px" type="submit">查询</ion-button>
  </form>
</ion-content>
