<ion-header (dblclick)="scrollToTop()">
  <ion-toolbar>
    <ion-title>
      来访记录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="visitList !== undefined && visitList.length > 0">
    <ion-item *ngFor="let record of visitList" (click)="showStudent(record.sno)">
      <ion-avatar slot="start">
        <img src="{{shareService.getUrl(record.sno)}}">
      </ion-avatar>
      <ion-label>
        <h1>{{record.name}}</h1>
        <h2>{{record.sno}}</h2>
        <h2>{{shareService.timestampToTimeWithOutYear(record.timestamp)}} 来访</h2>
      </ion-label>
      <ion-button fill="clear" slot="end" style="margin-left: 0;">
        <ion-label style="font-size: medium">详情</ion-label>
        <ion-icon size="medium" name="ios-arrow-forward"></ion-icon>
      </ion-button>
<!--      <ion-icon slot="end" name="arrow-forward"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>
