:root {
  --ion-color-primary: #00aa90;
  --ion-color-primary-rgb: 0,170,144;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00967f;
  --ion-color-primary-tint: #1ab39b;

  --ion-color-secondary: #58b2dc;
  --ion-color-secondary-rgb: 88,178,220;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #4d9dc2;
  --ion-color-secondary-tint: #69bae0;

  --ion-color-tertiary: #66327c;
  --ion-color-tertiary-rgb: 102,50,124;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5a2c6d;
  --ion-color-tertiary-tint: #754789;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #080808;
  --ion-color-dark-rgb: 8,8,8;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #070707;
  --ion-color-dark-tint: #212121;

  --ion-color-medium: #828282;
  --ion-color-medium-rgb: 130,130,130;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #727272;
  --ion-color-medium-tint: #8f8f8f;

  --ion-color-light: #fcfaf2;
  --ion-color-light-rgb: 252,250,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #dedcd5;
  --ion-color-light-tint: #fcfbf3;
}
